body {
    background-color: #232323;
}

h1 {
    text-align: center;
    background-color: blue;
    color: white;
    padding: 2%; /* Need to edit this */
    margin-bottom: 0;
}

.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
}

#winningValue {
    font-size: 1.5em;
}

#container {
    margin: 0 auto; 
    max-width: 600px;
}

#navigation {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}
